--- # Front matter comment to ensure Jekyll properly reads file. --- @import 'modern-resume-theme';

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
blockquote {
  font-family: "Pretendard Variable", "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}